@import 'color.scss';

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
}

.dropdown-menu li a {
	padding: 3px 10px;
}

.input {
	width: 100%;
	text-align: center;
}
.btn-circle {
	width: 60px;
	height: 60px;
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	line-height: 2;
	border-radius: 40px;
	color: $numberColor;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 15px;
}

.controls,
.keys {
	padding-top: 30px;
}

.controls {
	float: left;
}

.controls .btn {
	display: block;
	margin-bottom: 20px;
}

.keys {
	width: 100%;
	float: right;
	text-align: center;
	color: #fff;
}

.key-row {
	margin-bottom: 20px;
}

.key-row .btn {
	font-weight: bold;
}

.key-row .btn span {
	display: block;
	margin-top: -7px;
	font-size: 10px;
}

.log {
	background-color: #ddd;
	clear: both;
	padding: 20px 10px;
	text-align: center;
	font-size: 12px;
	color: #787878;
}

p {
	font-size: 10px;
	color: #787878;
	font-style: italic;
	margin-top: 10px;
}

#dialer {
	font-family: Helvetica, sans-serif;
	margin: 20px auto;
	padding: 0;
	width: 240px;
	text-align: center;
}
.call {
	color: green;
	margin-top: 10px;
	border: 0px;
	background: white;
	pointer-events: visible;
	background-color: $keypadNumberBgColor;
	border-radius: 15px;
	padding: 10px 13px;

	.icon {
		font-size: 44px;
	}

	&:hover {
		background-color: #d4d4d4;
	}
}
.history {
	font-size: xx-large !important;
	background: white;
	margin-top: 10px;
	color: black;
	pointer-events: visible;
	border: 0px;
	padding-right: 65px;
}
.btn-row {
	width: 100%;
	display: flex;
	justify-content: center;
}

.Accept {
	font-size: xxx-large !important;
	color: green;
	margin-top: 10px;
	border: 0px;
	background: #dff0d8;
	margin-left: 50px;
	pointer-events: visible;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 18px;
}
.Reject {
	font-size: xxx-large !important;
	color: #d41616;
	margin-top: 10px;
	border: 0px;
	background: #dff0d8;
	margin-right: 50px;
	pointer-events: visible;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 18px;
}
.text-white {
	text-align: center;
	color: white;
}

.avatar-align {
	margin-top: 100px;
	vertical-align: sub;
}

.div-margin-top {
	margin-top: 130px;
}

.history-panel {
	margin-top: -630px;
	margin-left: 830px;
}
